# Testing Report


### Coverage

![Test coverage week 3](/docs/weekly_reports/coverage_week3.png)

Currently only the GameBoard class that handles the board state is tested properly with 90% test coverage.


### Testing

The GameBoard class is tested using the unittest library. 
At this stage, all methods apart from str() are tested.
I'll work on testing the actual algorithms next.

